@import '../../styles/base';

.button {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  border-radius: 0;
  margin: 0;
  cursor: pointer;

  &.primary {
    background-color: $chingu-green;
    border-color: $chingu-green;
    color: #fff;

    &:hover {
      background-color: #3aeca1;
      border-color: #3aeca1;
    }
  }

  &.link {
    display: inline;
    padding: 0;
    border: none;
    background: none;
  }

  &.large {
    font-size: 18px;
  }
}
