@import '../../styles/base';

div.intro {
  position: relative;
  padding: 140px 0 40px 0;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  div.introText {
    max-width: 545px;

    .enrollArea {
      margin-top: 15px;
      width: 300px;
      button {
        width: 100%;
      }
    }
  }

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 50%;
  }

  @media screen and (max-width: 767px) {
    div.introText {
      width: 100%;
      padding: 0 15px;
    }
  }
}

.experience {
  margin-top: 90px;
  max-width: 700px;
  text-align: center;

  h2 {
    font-weight: normal;
    font-size: 38px;
  }

  & > p {
    margin: 20px auto;
  }

  .experienceList {
    display: flex;
    margin-bottom: 60px;

    .experienceItem {
      text-align: left;
      margin: 20px;
      span {
        color: #000;
        font-size: 32px;
      }
      b {
        background-color: #fffd54;
      }
    }
  }
}

.process {
  background: $light-grey-background;
  padding: 50px 0;

  h2 {
    text-align: center;
  }

  .steps {
    max-width: 750px;
    margin: 35px auto;
  }
}

.centered {
  text-align: center;
  margin: 70px 0 40px 0;
}

.section {
  display: flex;
  position: relative;
  margin: 50px auto;
  align-items: center;

  .sectionText {
    width: 50%;
    z-index: 1;
    padding: 10px 16px;
  }

  img {
    position: absolute;
    max-height: 100%;
    max-width: 50%;
    right: 0;
  }

  &.flipped {
    flex-direction: row-reverse;

    .sectionText {
      padding-left: 70px;
    }

    img {
      right: initial;
      left: 0;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;

    .sectionText {
      width: 100%;
      padding: 30px 16px;
      text-align: center;

      ul {
        list-style-type: none;
        padding: 0;
      }
    }

    img {
      position: relative;
      max-height: 60vh;
      max-width: 85vw;
    }

    &.flipped {
      flex-direction: column-reverse;

      .sectionText {
        padding-left: 16px;
      }
    }
  }
}

.dates {
  background-color: $light-grey-background;
  text-align: center;
  padding: 40px 0;

  h2 {
    font-weight: lighter;
    font-size: 38px;
    margin-bottom: 0;
  }

  & > div > p:first-of-type {
    margin-top: 0;
  }
}

.pricing {
  text-align: center;
  padding: 50px 0 0 0;

  @media screen and (max-width: 767px) {
    padding: 0 0 50px 0;
  }

  img {
    height: 200px;
  }
  .pricingSubtitle {
    max-width: 750px;
    margin: 20px auto;
  }

  .offers {
    display: flex;
    justify-content: center;
    margin: 40px 0 70px 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 50px auto;
    }
  }

  .question {
    max-width: 690px;
    width: 90%;
    margin: 50px auto;
    text-align: left;
  }

  a.mailLink {
    color: $chingu-green;
  }
}

.bottom {
  padding: 0 0 50px 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  .bottomApply {
    margin: 45px 0 15px 0;
    width: 300px;
  }

  @media screen and (max-width: 767px) {
    .bottomApply {
      width: 90%;
    }
  }
}
