.title {
  color: #000;
  margin: 0;

  & + p {
    margin-top: 16px;
  }
}

h1.title {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 52px;
}

h2.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
}

h3.title {
  font-size: 28px;
  font-weight: 600;
}
