.card {
  flex: 1;
  padding: 16px;
  margin: 0 16px;
  height: 400px;
  background-color: #fff;

  .imgArea {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;

    img {
      max-width: 90%;
      max-height: 100%;
    }
  }

  .text {
    width: 80%;
    margin: 0 auto;
  }
}
