.project {
  padding: 10px;
  text-align: center;
  position: relative;
  width: 33.3%;

  img {
    width: 100%;
    //min-height: 222px;
    height: auto;
  }

  .title {
    margin-top: 15px;
  }

  .title + p {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .project {
    width: 100%;
  }

  img {
    max-width: 100%;
  }
}
