.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  padding-top: 30px;

  div.logo {
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      margin-right: 5px;
      height: 25px;
    }
  }

  div.links > * {
    margin-left: 25px;
  }
}
