.container {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 15px 0;

    div.logo {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        margin-right: 5px;
        height: 25px;
      }

      @media screen and (max-width: 460px) {
        span {
          display: none;
        }
      }
    }

    div.links > * {
      margin-left: 25px;
    }

    @media screen and (max-width: 500px) {
      div.links {
        margin-left: 15px;
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      div.links > * {
        margin-left: 0;
      }
    }
  }
}

.offset {
  position: relative;
  height: 58px;
}
