.container {
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 15px 0;

    div.logo {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        margin-right: 5px;
        height: 25px;
      }
    }

    div.links > * {
      margin-left: 25px;
    }
  }
}

.offset {
  position: relative;
  height: 58px;
}
