.footer {
  background: #fff;
  padding: 50px 0;
  font-size: 12px;
  color: #333;

  .footerTitle {
    text-transform: uppercase;
  }

  a {
    color: #666;
    &:hover {
      text-decoration: underline;
    }
  }
}
