@import '../../styles/base';

.offer {
  max-width: 400px;
  padding-top: 45px;
  background-color: #fff;
  position: relative;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: none;
  }

  @media screen and (max-width: 767px) {
    border: none;
    margin-bottom: 70px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 16px 24px #ccc;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 36px;
  }

  .description {
    color: #888;
    margin: 0;
  }

  .price {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 300;
  }

  button {
    margin: 30px auto 0 auto;
    width: 150px;
  }

  div.features {
    margin-top: 50px;
    background-color: $light-grey-background;
    flex: 1;
    text-align: left;
    padding: 40px 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-left: 1em;
        text-indent: -0.7rem;
        padding-bottom: 15px;
      }

      li::before {
        content: '🚀 ';
      }
    }
  }
}
