@import '../../styles/base';

div.racoonSection {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;

  div.racoonText {
    width: 50%;
    padding-top: 100px;

    div.applyArea {
      // text-align: center;
      padding-top: 15px;

      button.apply {
        width: 340px;
      }

      @media screen and (max-width: 767px) {
        button.apply {
          width: 100%;
        }
      }

      p.applySubtext {
        margin-top: 10px;
        width: 340px;
        display: inline-block;
      }

      @media screen and (max-width: 767px) {
        p.applySubtext {
          width: 100%;
          padding-bottom: 30px;
        }
      }
    }
  }

  img {
    /*width: 357px;
    height: 499px; */
    width: 100%;
    max-width: 357px;
    height: auto;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    div.racoonText {
      width: 100%;
      padding: 0 15px;
    }

    img {
      // display: none;
      height: 50%;
    }
  }
}

.features {
  background: $light-grey-background;
  text-align: center;
  padding: 40px 0;
  width: 100%;

  h3 {
    span.anywhereText {
      position: relative;

      & > img {
        position: absolute;
        bottom: -12px;
        width: 110%;
        right: -5%;
      }
    }
  }

  p.featuresSubtitle {
    margin-bottom: 25px;
  }

  .featureCards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
}

.process {
  background: #fff;
  padding: 50px 0;

  h2 {
    text-align: center;
  }

  .steps {
    max-width: 750px;
    margin: 35px auto;
  }
}

.projects {
  padding: 50px 0;
  text-align: center;

  .projectsSubtitle {
    /* width: 560px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectExamples {
    display: flex;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .projectExamples {
    flex-wrap: wrap;
  }
}

.numbers {
  padding: 50px 0;
  background-color: $light-grey-background;

  .numberBlocks {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .numberBlocks {
    flex-wrap: wrap;
  }
}

.quotes {
  padding: 50px 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  .quoteBlocks {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .bottomApply {
    margin: 45px 0 15px 0;
    width: 300px;
  }

  @media screen and (max-width: 767px) {
    .bottomApply {
      width: 90%;
    }
  }
}
